body {
    background: #448aff;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
}
.display {
    margin: 0 auto;
    background-color: white;
    text-align: center;
}
img {
    max-width : 50px;
    max-height : 50px;
}
